@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Montserrat:wght@500&display=swap');


body{ 
    background-color: rgb(30, 31, 35);
}

nav {
    max-width: 1280px;
    padding: 0 24px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: whitesmoke;
}

.logo {
  cursor: pointer;
  font-weight: 1;
  font-family: 'Advent Pro', sans-serif;
  font-size: 25px;
}

.actions {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin-right: -25px;
}

.actions a {
  position: relative;
  background: none;
  border: none;
  font-weight: bold;
  width: 140px;
  padding: 5px 10px;
}

#trait {
  opacity: 0;
  width: 0;
  transition: all .5s;
}

span.text {
  position: absolute;
  right: 28px;
  bottom: 19px;
  transition: color .5s;
  color: whitesmoke;
}

.actions span.background {
  display: inline-block;
  background-color: whitesmoke;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transition: .5s all;
}

.actions svg {
  transition: transform 0.5s;
}

.actions a:hover svg {
  transform: translateX(10px)
}

.actions a:hover #trait {
  opacity: 1;
  width: auto;
}

.actions a:hover span.text {
  color: black;
}

.actions a:hover span.background {
  width: 100%;
}


.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 2em;
  height: 550px;
}

.left{
  height: 100%;
  grid-column: 1/4;
}

.left h1 {
  font-weight: 300;
  font-size: 4rem;
  color: whitesmoke;
  letter-spacing: -0.05rem;
  line-height: 1;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 100px;
  margin-bottom: 50px;
}

.container .right{
  height: 100%;
  width: 100%;
  grid-column: 4/13;
  display: flex;
  gap: 10px;

}

.item {
  flex-grow: 1;
  background-position: center bottom;
  background-size: auto 100%;
  width: 33%;
  border-radius: 5px;
  transition: width 300ms ease;
  cursor: pointer; 
}

.item:hover {
  width: 100%;
  color: red;
}

.list{
  list-style: none;
}

.list li{
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}

.li{
  display: inline-block;
  background-image: linear-gradient(to right, whitesmoke 33%, whitesmoke 66%);
  background-position: right -100% bottom 0;
  background-size: 200% 2px;
  background-repeat: no-repeat;
}

.li:hover {
  background-position: left -100% bottom 0;
  transition: background-position 0.5s;
}
